.burger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 18px;
    position: relative;
    cursor: pointer;

    span {
        width: 100%;
        height: 2px;
        background-color: $gray;
        transition: background-color 0.2s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: $gray;
            left: 0;
            transition: all 0.2s;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    &:hover {
        span {
            background-color: $red;

            &::before,
            &::after {
                background-color: $red;
            }

            &::before {
                top: 2px
            }

            &::after {
                bottom: 2px;
            }
        }
    }
}