/* fonts */
$roboto: "Roboto", "Arial", sans-serif;
$rosario: "Rosario", "Arial", sans-serif;

/* colors */
$black: #333333;
$white: #FFFFFF;
$gray: #8D8D8D;
$lightGray: #F5F5F5;
$lighterGray: #E8E8E8;
$lightestGray: #F4F4F4;
$red: #E11C4B;

/* other */
$wrapper: 1190px; //1150 + 20 + 20;
$tablet: 768px;
$desktop: 1190px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
